* {
  margin: 0px;
  font-family: Kanit;
}

body {
  width: 100%;
  height: 750px;
  background-color: black;
  display: flex;
  justify-content: center;
  user-select: none;
}

#Wrapper-1 {
  width: 400px;
  height: 700px;
  background-color: rgb(50, 48, 48);
  border-radius: 15px;
  margin-top: 20px;
}

.Wrapper-items {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: 240px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

input {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

#Text-Div {
  height: 90px;
}

::-webkit-input-placeholder {
  text-align: center;
}

button {
  height: 40px;
  width: 300px;
  border-radius: 15px;
  border: none;
  font-size: larger;
  background-color: rgb(253, 143, 109);
  cursor: pointer;
  transition: background-color 0.4s ease;
}

button:hover {
  background-color: white;
}

ul
{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

li 
{
  margin: 15px;
  background-color: rgb(253, 143, 109);
  width: 100px;
  height: 40px;
  border: none; 
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  padding-top: 15px;
}

li:hover
{
  background-color: white;  
}
